:root {
    --shadow-color: 234deg 29% 55%;
    --shadow-elevation-low:
      0.8px 0.7px 1px hsl(var(--shadow-color) / 0.55),
      1.2px 1.1px 1.5px -1.9px hsl(var(--shadow-color) / 0.42),
      3.2px 2.9px 4px -3.8px hsl(var(--shadow-color) / 0.29);
    --shadow-elevation-medium:
      0.8px 0.7px 1px hsl(var(--shadow-color) / 0.57),
      1.9px 1.7px 2.4px -1.3px hsl(var(--shadow-color) / 0.47),
      5.8px 5.3px 7.2px -2.6px hsl(var(--shadow-color) / 0.37),
      15.9px 14.3px 19.7px -3.8px hsl(var(--shadow-color) / 0.27);
    --shadow-elevation-high:
      0.8px 0.7px 1px hsl(var(--shadow-color) / 0.53),
      2.7px 2.4px 3.3px -0.5px hsl(var(--shadow-color) / 0.49),
      5.5px 4.9px 6.8px -1.1px hsl(var(--shadow-color) / 0.44),
      10.4px 9.4px 12.9px -1.6px hsl(var(--shadow-color) / 0.39),
      19.1px 17.2px 23.7px -2.2px hsl(var(--shadow-color) / 0.35),
      32.7px 29.4px 40.6px -2.7px hsl(var(--shadow-color) / 0.3),
      52.8px 47.5px 65.5px -3.3px hsl(var(--shadow-color) / 0.25),
      80.6px 72.6px 100.1px -3.8px hsl(var(--shadow-color) / 0.21);
  }

html { 
    font-family: sans-serif;
    background: hsla(255, 255%, 255%, 1);
    padding: 10px;
}


.main-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0 0 10px 0;
}

.poop { 
    /* background-color: hsla(0, 59%, 41%, 1); */
    /* border: 1px solid black; */
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    margin: auto;
    height: 500px;
    width: 500px;
    animation: rotation 5s infinite linear;
    /* box-shadow: var(--shadow-elevation-medium); */
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }